.container {
  .header {
    padding: 0px 20px 0px 20px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/img/main.JPG);
    text-align: center;
    .title h1 {
      font-family: "Bodoni Moda", serif;
      font-weight: 400;
      font-size: 40px;
      color: #d94453;
    }
    .title p {
      font-weight: 400;
      font-size: 20px;
      color: white;
      background: #d94453;
      font-family: "Bodoni Moda", serif;
    }

    .wrapper {
      padding-top: 500px;
      .dates {
        font-family: "Cormorant Garamond", serif;
        font-size: 50px;
        color: rgb(255, 255, 255);
      }
      .register-btn {
        padding: 20px 58px 20px 58px;
        color: white;
      }
      .arrow {
        width: 25px;
        height: 25px;
      }
      .button {
        margin: auto;
        border: 1px solid red;
        border-top-width: 1px;
        border-right-width: 0px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        width: 300px;
        height: 50px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #d94453;
        }
      }
    }
  }

  .explanation {
    padding: 50px 0px;
    text-align: center;
    background-color: rgb(222, 222, 222);
    font-weight: 700;
    font-family: "Cormorant Garamond", serif;

    hr {
      width: 100px;
      color: black;
    }
    .number {
      font-size: 33px;
    }
    span {
      font-size: 30px;
    }
  }
  .first-model-img {
    padding: 0px 20px 0px 20px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/img/img1.JPG);
  }
  .programm {
    padding: 0px 20px 0px 20px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/img/model2.JPG);
    padding-top: 100px;
    color: black;
    font-family: "Cormorant Garamond", serif;

    hr {
      margin-bottom: 20px;
    }

    h3 {
      text-align: center;
      color: white;
      font-family: "Bodoni Moda", serif;
      font-size: 35px;
      font-weight: 300;
    }
    li {
      color: white;
      font-family: "Bodoni Moda", serif;
      font-size: 23px;
      font-weight: 200;
    }
    .lessons {
      padding-top: 80px;
    }
    p {
      padding-bottom: 10px;
      font-size: 18px;
      color: #d94453;
    }
    p > span {
      font-size: 23px;
      font-weight: 700;
      color: #000000;
    }
  }
}
