<div class="container">
  <header class="header">
    <div class="title">
      <h1>АЛЬОНА ШПІЛЬКА</h1>
      <P>ONLINE COURSE</P>
    </div>
    <div class="wrapper">
      <div class="dates">
        <h6>1, 2, 3 березня</h6>
      </div>
      <div class="button">
        <a href="#register" class="register-btn">ЗАРЕЄСТРУВАТИСЯ </a>
        <div>
          <img
            class="button__arrow"
            src="../../../assets/img/right-arrow(2).svg"
          />
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="explanation">
      <span><span class="number">4</span> детальних</span>
      <br />
      <span>відео уроки в записі</span>
      <hr />
      <span>Доступ зберігається</span>
      <br />
      <span>до 01 вересня 2023 року</span>
    </section>
    <article class="first-model-img"></article>
    <aside class="explanation">
      <span>Трендові техніки </span>
      <br />
      <span>макіяжу та незамінні </span>
      <br />
      <span>продукти у кейсі</span>
    </aside>
    <section class="programm">
      <h3>ПРОГРАМА КУРСУ</h3>
      <ul class="lessons">
        <li>
          <p><span>1</span> УРОК</p>
          <span>Люксовий Нюд </span>
          <br />
          <span>( найбажаніший макіяж серед клієнтів ) </span>
          <hr />
        </li>
        <li>
          <p><span>2</span> УРОК</p>
          <span>Трендовий Смокі </span>
          <br />
          <span> ( робота з тушовками та матовими текстурами) </span>
          <hr />
        </li>
        <li>
          <p><span>3</span> УРОК</p>
          <span>Яскравий Інста макіяж </span>
          <br />
          <span>( робота з кольором )</span>
          <hr />
        </li>
        <li>
          <p><span>4</span> УРОК</p>
          <span>Голівуд </span>
          <br />
          <span>( стрілочки + яскраві губи ) </span>
          <hr />
        </li>
        <li>
          <p>БОНУСНИЙ УРОК</p>
          <span>Бонус-гайд з базовою косметичкою, </span>
          <br />
          <span>уроки по зйомці рілз і обробці фото</span>
        </li>
      </ul>
    </section>
    <aside class="explanation">
      <h2>ДЛЯ КОГО ПІДХОДИТЬ</h2>
      <h2>ЦЕЙ КУРС?</h2>
      <span>Для новачків і працюючих майстрів,</span>
      <br />
      <span> які хочуть покращити свої навички,</span>
      <br />
      <span> ознайомитись з топовими продуктами</span>
      <br />
      <span> для створення сучасних макіяжів,</span>
      <br />
      <span>отримання натхнення для</span>
      <br />
      <span>створення нових образів 🔥</span>
    </aside>
    <section class="on-course">
      <div class="wrapper">
        <h3>НА КУРСІ</h3>
        <hr />
        <h3>Ви навчитесь:</h3>
        <ul class="lessons">
          <li>
            <span>1. Підготовці та створення ідеального тону</span>
          </li>
          <li>
            <span>2. Створення топових клієнтських макіяжів</span>
          </li>
          <li>
            <span>3. Роботі з будь-яким типом шкіри</span>
          </li>
          <li>
            <span>4. Створенню інста макіяжу</span>
          </li>
          <li>
            <span>5. Робота з кольором</span>
          </li>
          <li>
            <span>6. Зйомці відео рілз</span>
          </li>
          <li>
            <span>7. Обробці фото</span>
          </li>
          <li>
            <span>8. До яких косметичних продуктів варто придивитись</span>
          </li>
        </ul>
      </div>
    </section>

    <section class="explanation">
      <h2>ВІДЕОУРОКИ</h2>
      <span>будуть збережені на закритій</span>
      <br />
      <span>сторінці курсу в Інстаграм </span>
      <br />
      <span>до 01 вересня 2023</span>
      <hr />
      <h2>А ЦЕ ОЗНАЧАЄ:</h2>
      <div class="advantages">
        <div class="rectangle">
          <img width="50" src="../../../assets/img/24-clocks.svg" />
          <br />
          <span>Ви можете дивитись відеоуроки в</span>
          <br />
          <span>будь-який зручний для вас</span>
          <br />
          <span>час</span>
        </div>
        <div class="rectangle">
          <img width="50" src="../../../assets/img/arrows-circle.svg" />
          <br />
          <span>Ви можете переглядати відео</span>
          <br />
          <span>курсу необмежену кількість</span>
          <br />
          <span>разів до 01 вересня 2023 року</span>
        </div>
        <div class="rectangle">
          <img width="50" src="../../../assets/img/earth.svg" />
          <br />
          <span>Ви не прив'язані до місця</span>
          <br />
          <span>проведення та можете</span>
          <br />
          <span>дивитися уроки з будь-якого</span>
          <br />
          <span>куточку світу</span>
        </div>
      </div>
    </section>
    <section class="slider">
      <mdb-carousel [controls]="true" [indicators]="true">
        <mdb-carousel-item>
          <img src="assets/img/slider/IMG_1709.JPG" class="d-block w-100" />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img src="assets/img/slider/IMG_2710.JPG" class="d-block w-100" />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img src="assets/img/slider/IMG_0637.JPG" class="d-block w-100" />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img src="assets/img/slider/IMG_9105.JPG" class="d-block w-100" />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img src="assets/img/slider/IMG_3848.JPG" class="d-block w-100" />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img src="assets/img/slider/IMG_1901.JPG" class="d-block w-100" />
        </mdb-carousel-item>
      </mdb-carousel>
    </section>
    <section class="author">
      <div class="certificate rectangle">
        <img width="50" src="../../../assets/img/certificate.svg" />
        <div>
          <span>Кожен учасник отримає</span>
          <br />
          <span>СЕРТИФІКАТ про</span>
          <br />
          <span>прослуховування онлайн-курсу</span>
        </div>
      </div>
      <img
        class="author-img"
        width="300"
        src="../../../assets/img/slider/circle.JPG"
      />
      <h2>АВТОР КУРСУ</h2>
      <h3>Альона Шпілька</h3>
    </section>
    <a id="register"></a>

    <section class="registration">
      <div class="certificate rectangle">
        <div class="certificate__title">
          <span>ОНЛАЙН КУРС</span>
          <br />
          <span>АЛЬОНИ ШПІЛЬКИ</span>
        </div>
        <div class="certificate__date">
          <span>у записі</span>
          <br />
          <span>1-3 березня</span>
        </div>
        <div class="certificate__lessons">
          <span>4 макіяжі + 1 бонусний</span>
          <br />
          <span>сертифікат про навчання </span>
          <br />
          <span>доступ до 01 вересня 2023</span>
        </div>
        <p class="certificate__price">1750грн</p>
        <div class="button">
          <a routerLink="registration" class="register-btn">ЗАРЕЄСТРУВАТИСЯ </a>
          <div>
            <img
              class="button__arrow"
              src="../../../assets/img/right-arrow(2).svg"
            />
          </div>
        </div>
      </div>
    </section>
    <hr width="100%" />
  </main>

  <footer class="footer">
    <ul class="links-list">
      <li>
        <a routerLink="/confidential-policy"> Політика конфіденційності</a>
      </li>
      <li><a routerLink="/payment">Способи оплати</a></li>
      <li><a routerLink="/conditions">Умови надання послуг</a></li>
      <li>
        <a
          target="_blank"
          href="https://www.instagram.com/alena_shpilka_makeup/?igshid=MjkzY2Y1YTY%3D"
        >
          <img class="insta" width="40" src="../../../assets/img/insta2.svg"
        /></a>
      </li>
    </ul>
    <p>© Альона Шпілька</p>
  </footer>
</div>
