<div class="container">
  <header class="header">
    <div class="title">
      <h1>АЛЬОНА ШПІЛЬКА</h1>
      <P>ONLINE COURSE</P>
    </div>
    <div class="wrapper">
      <div class="dates">
        <h6>1, 2, 3 березня</h6>
      </div>
      <a href="#register" class="register-btn">ЗАРЕЄСТРУВАТИСЯ</a>
    </div>
  </header>
  <main>
    <section class="explanation">
      <h3>4 детальних відео уроки в записі</h3>
      <hr />
      <h3>Доступ зберігається до 01 вересня 2023 року</h3>
      <img />
      <h3>Трендові техніки макіяжу та незамінні продукти у кейсі</h3>
    </section>
    <section class="programm">
      <h3>1 макіяж</h3>
      <p>Ідеальний нюд</p>
      <p>Макіяж на кожен день !</p>
      <p>
        В уроці розберемо базові косметичні продукти та пензлики. Найкращі
        люксові та бюджетні тонуючі засоби в твоїй косметичці, створення ефекту
        ідеальної шкіри
      </p>
      <hr />
      <h3>2 макіяж</h3>
      <p>Трендовий вечірній макіяж</p>
      <p>Фірмовий макіяж !</p>
      <p>
        Побудова ока на основі кремових тіней, правильне скульптурування
        обличчя, що підійде саме тобі ! Робота з накладними війками
      </p>
      <hr />
      <h3>3 макіяж</h3>
      <p>Макіяж з акцентом</p>
      <p>Чи використовувала ти в макіяжі колір ?</p>
      <p>Я покажу техніку, яка може бути носибельною та ефектною !</p>
      <p>
        Цей макіяж підійде для вечірньоі події та не залишить байдужим нікого !
      </p>
    </section>
    <section class="forWhom">
      <h2>ДЛЯ КОГО ПІДХОДИТЬ ЦЕЙ КУРС?</h2>
      <h3>
        Для всіх, хто бажає навчитися підкреслювати свою природню красу.
        Навчитися процесу створення макіяжу для себе та зробити апгрейд своєї
        косметички.
      </h3>
      <video></video>
    </section>
    <section class="videoLessons">
      <h2>ВІДЕОУРОКИ</h2>
      <p>будуть збережені на закритій сторінці курсу в Інстаграм</p>
      <p>до 01 квітня 2023</p>
      <hr />
      <h2>А ЦЕ ОЗНАЧАЄ:</h2>
      <div class="advantages">
        <div>
          <img />
          <p>Ви можете дивитись відеоуроки в будь-який зручний для вас час</p>
        </div>
        <div>
          <img />
          <p>
            Ви можете переглядати відео курсу необмежену кількість разів до 01
            квітня 2023
          </p>
        </div>
        <div>
          <img />
          <p>
            Ви не прив'язані до місця проведення та можете дивитися уроки з
            будь-якого куточку світу
          </p>
        </div>
      </div>
    </section>
    <section class="slider">
      <h1>SLIDER!!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    </section>
    <section class="aboutAutor">
      <img />
      <h2>АВТОР КУРСУ</h2>
      <h3>Альона Шпилька</h3>
    </section>
    <h2 id="register">Register</h2>
    <section class="registration"></section>
  </main>
</div>
