.container {
  font-family: "Cormorant Garamond", serif;
  background-color: rgb(222, 222, 222);

  .header {
    padding: 0px 20px 0px 20px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/img/main.JPG);
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-weight: 400;

    .title h1 {
      font-size: 40px;
      color: #d94453;
    }
    .title p {
      font-size: 20px;
      color: white;
      background: #d94453;
    }

    .wrapper {
      padding-top: 500px;
      .dates h6 {
        font-family: "Cormorant Garamond", serif;
        font-size: 50px;
        color: rgb(255, 255, 255);
      }
      .register-btn {
        padding: 20px 45px 20px 45px;
        color: white;
      }
      .button__arrow {
        width: 25px;
        height: 25px;
      }
      .button {
        margin: auto;
        font-size: 18px;
        border: 1px solid red;
        border-top-width: 1px;
        border-right-width: 0px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        width: 288px;
        height: 50px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #d94453;
        }
      }
    }
  }

  .explanation {
    padding: 50px 10px;
    text-align: center;
    font-weight: 500;

    h2 {
      font-size: 36px;
      font-weight: 700;
    }

    h2:last-of-type {
      padding-bottom: 25px;
    }

    hr {
      display: block;
      margin: 10px auto;
      width: 100px;
      color: black;
    }
    .number {
      font-size: 33px;
    }
    span {
      letter-spacing: 2px;
      font-size: 30px;
    }
  }
  .first-model-img {
    padding: 0px 20px 0px 20px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/img/img1.JPG);
  }

  .programm {
    padding: 0px 20px 0px 20px;
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/img/model2.jpg);
    padding-top: 10px;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    hr {
      margin-bottom: 20px;
    }

    h3 {
      text-align: center;
      color: white;
      font-family: "Bodoni Moda", serif;
      font-size: 35px;
      font-weight: 300;
    }
    li {
      color: white;
      font-family: "Bodoni Moda", serif;
      font-size: 23px;
      font-weight: 200;
    }
    .lessons {
      padding-top: 10px;
    }
    p {
      padding-bottom: 5px;
      font-size: 18px;
      color: #d94453;
    }
    p > span {
      font-size: 20px;
      font-weight: 700;
      color: #000000;
    }
  }

  .on-course {
    padding: 0px 20px 0px 20px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/img/model3.JPG);
    display: flex;
    overflow: hidden;

    .wrapper {
      padding-top: 50px;
      background-color: rgba(224, 218, 218, 0.286);
      height: 750px;

      hr {
        width: 100px;
      }

      h3 {
        text-align: center;
        color: rgb(0, 0, 0);
        font-family: "Bodoni Moda", serif;
        font-size: 35px;
        font-weight: 300;
      }
      h3:last-of-type {
        padding-bottom: 30px;
      }
      li {
        padding-top: 10px;
        padding-left: 20px;
        color: rgb(0, 0, 0);

        font-size: 25px;
        font-weight: 200;
      }
    }
  }

  .advantages {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .rectangle {
      img {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  .author {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgba(224, 218, 218, 0.286);

    .certificate {
      padding: 40px 10px;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;

      & div {
        text-align: left;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 30px;
      }
    }

    .author-img {
      margin-top: 40px;
      border-radius: 50px;
    }

    h2 {
      margin-top: 10px;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 30px;
    }
    h3 {
      font-weight: 700;
      letter-spacing: 2px;
      font-size: 42px;
    }
  }

  .registration {
    background-color: rgba(224, 218, 218, 0.286);

    .certificate {
      background-color: inherit;
      text-align: center;
      height: 800px;
      padding: 40px 10px;
      margin-left: 20px;
      margin-right: 20px;
      font-weight: 500;

      letter-spacing: 2px;
      font-size: 30px;

      &__title {
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 40px;
      }
      &__lessons {
        padding-top: 40px;
      }
      &__price {
        font-weight: 600;
        font-size: 38px;
        padding-top: 40px;
      }
    }

    .button {
      font-size: 18px;
      font-weight: 700;
      margin: auto;
      border: 1px solid red;
      border-top-width: 1px;
      border-right-width: 0px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      width: 250px;
      height: 50px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d94453;

      &:hover {
        background-color: rgba(224, 218, 218, 0.286);
        color: #d94453;
      }
    }

    .register-btn {
      padding: 20px 23px 20px 23px;
      color: white;

      &:hover {
        color: #d94453;
      }
    }
    .button__arrow {
      width: 25px;
      height: 25px;
    }
  }

  .footer {
    margin-top: 50px;
    text-align: center;
    .links-list {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}
