<div class="container">
  <div class="title">
    <h1>Alena Shpilka</h1>
    <p>makeup artist</p>
  </div>
  <section class="course-info">
    <ul>
      <li>Сайт:</li>
      <li>Опис:</li>
      <li>Сума:</li>
    </ul>
    <ul>
      <li>https://alenashpilka.com</li>
      <li>Курс Альони Шпільки</li>
      <li class="price">599 UAH</li>
    </ul>
  </section>
  <section class="image-wrapper">
    <hr />
    <img width="300" src="../../../assets/img/payment.jpg" alt="makeup photo" />
    <hr />
  </section>
  <section class="payment">
    <div class="card-details">
      <p>Номер карти для оплати:</p>
      <p>4149499992915916</p>
    </div>
    <div class="explanations">
      <p>Після оплати, будь ласка, скиньте скріншот на мій Instagram:</p>
      <a
        href="https://instagram.com/alena_shpilka_makeup?igshid=MjkzY2Y1YTY="
        target="_blank"
        >Тицяй сюди=)
      </a>
    </div>
  </section>
</div>
