<div class="container">
  <div class="title">
    <h1>Alena Shpilka</h1>
    <p>makeup artist</p>
  </div>
  <section class="course-info">
    <ul>
      <li>Сайт:</li>
      <li>Опис:</li>
      <li>Сума:</li>
    </ul>
    <ul>
      <li>http://alenashpilka.com/</li>
      <li>Курс Альони Шпільки</li>
      <li class="price">1 750 UAH</li>
    </ul>
  </section>
  <section class="image-wrapper">
    <hr />
    <img width="300" src="../../../assets/img/payment.jpg" alt="makeup photo" />
    <hr />
  </section>
  <section class="payment">
    <div class="card-details">
      <p>Номер карти для оплати:</p>
      <p>4149499992915916</p>
    </div>
    <div class="explanations">
      <p>Після оплати, будь ласка, скиньте скріншот на мій Instagram:</p>
      <a
        href="https://www.instagram.com/accounts/login/?next=https%3A%2F%2Fwww.instagram.com%2Falena_shpilka_makeup%2F%3Figshid%3DMjkzY2Y1YTY%253D&source=direct"
        target="_blank"
        >Тицяй сюди=)
      </a>
    </div>
  </section>
</div>
