$main-text-color: #000000;
$header-bg: #03a55f;
$body-bg: #b7bfc8;
$main-logo-bg: #d9d9d9;
$product-button-bg: #2cfaa1;
$product-button-bg-hover: #23d98a;
$product-button-bg-active: #28fc24;
$table-bg: rgb(98, 106, 109);
$tooltip-bg: #8fbcef;
$main-bg: rgba(224, 218, 218, 0.286);
