<div class="container">
  <span>Політика щодо обробки персональних даних</span>
  <br />
  <p>1. Загальні положення</p>

  <p>
    Справжня політика обробки персональних даних складена відповідно до вимог
    ЗАКОНАУКРАЇНИ &quot;Про захист персональних даних&quot; від 1 червня 2010р.
    № 2297-VI (далі - Закон про захист персональних даних) та визначає порядок
    обробки персональних даних та заходи щодо забезпечення безпеки персональних
    даних, що вживаються Самхарадзе Марією Олександрівною (далі &ndash;
    Оператор).
  </p>

  <p>
    1.1. Оператор ставить своєю найважливішою метою та умовою здійснення своєї
    діяльності дотримання прав та свобод людини та громадянина при обробці його
    персональних даних, у тому числі захисту прав на недоторканність приватного
    життя, особисту та сімейну таємницю.
  </p>

  <p>
    1.2. Ця політика Оператора щодо обробки персональних даних (далі &ndash;
    Політика) застосовується до всієї інформації, яку Оператор може отримати про
    відвідувачів веб-сайту https:// alenashpilka.com .
  </p>

  <p>2. Основні поняття, що використовуються у Політиці</p>

  <p>
    2.1. Автоматизована обробка персональних даних &ndash; обробка персональних
    даних за допомогою засобів обчислювальної техніки.
  </p>

  <p>
    2.2. Блокування персональних даних &ndash; тимчасове припинення обробки
    персональних даних (крім випадків, якщо обробка необхідна уточнення
    персональних даних).
  </p>

  <p>
    2.3. Веб-сайт &ndash; сукупність графічних та інформаційних матеріалів, а
    також програм для ЕОМ та баз даних, що забезпечують їх доступність в мережі
    інтернет за мережевою адресою https// alenashpilka.com .
  </p>

  <p>
    2.4. Інформаційна система персональних даних - сукупність персональних
    даних, що містяться в базах даних, і забезпечують їх обробку інформаційних
    технологій і технічних засобів.
  </p>

  <p>
    2.5. Знеособлення персональних даних &mdash; дії, у яких неможливо визначити
    без використання додаткової інформації належність персональних даних
    конкретному Користувачеві чи іншому суб&#39;єкту персональних даних.
  </p>

  <p>
    2.6. Обробка персональних даних &ndash; будь-яка дія (операція) або
    сукупність дій (операцій), що здійснюються з використанням засобів
    автоматизації або без використання таких засобів з персональними даними,
    включаючи збирання, запис, систематизацію, накопичення, зберігання,
    уточнення (оновлення, зміну), вилучення, використання, передачу (поширення,
    надання, доступ), знеособлення, блокування, видалення, знищення персональних
    даних.
  </p>

  <p>
    2.7. Оператор &ndash; державний орган, муніципальний орган, юридична або
    фізична особа, що самостійно або спільно з іншими особами організовують та
    (або) здійснюють обробку персональних даних, а також визначають цілі обробки
    персональних даних, склад персональних даних, що підлягають обробці, дії
    (операції), що здійснюються із персональними даними.
  </p>

  <p>
    2.8. Персональні дані &ndash; будь-яка інформація, що відноситься прямо або
    опосередковано до певного або визначеного Користувачеві веб-сайту https//
    alenashpilka.com .
  </p>

  <p>
    2.9. Персональні дані, дозволені суб&#39;єктом персональних даних для
    розповсюдження, - персональні дані, доступ необмеженого кола осіб до яких
    надано суб&#39;єктом персональних даних шляхом надання згоди на обробку
    персональних даних, дозволених суб&#39;єктом персональних даних для
    розповсюдження у порядку, передбаченому Законом про захист персональних
    даних (далі - персональні дані, дозволені поширення).
  </p>

  <p>
    2.10. Користувач &ndash; будь-який відвідувач веб-сайту https//
    alenashpilka.com .
  </p>

  <p>
    2.11. Надання персональних даних &ndash; дії, створені задля розкриття
    персональних даних певному особі чи певному колу осіб.
  </p>

  <p>
    2.12. Поширення персональних даних &ndash; будь-які дії, спрямовані на
    розкриття персональних даних невизначеному колу осіб (передача персональних
    даних) або на ознайомлення з персональними даними необмеженого кола осіб,
    зокрема оприлюднення персональних даних у засобах масової інформації,
    розміщення в інформаційно-телекомунікаційних мережах або надання доступу до
    персональних даних будь-яким іншим способом.
  </p>

  <p>
    2.13. Транскордонна передача персональних даних &ndash; передача
    персональних даних на територію іноземної держави до органу влади іноземної
    держави, іноземної фізичної або іноземної юридичної особи.
  </p>

  <p>
    2.14. Знищення персональних даних &ndash; будь-які дії, внаслідок яких
    персональні дані знищуються безповоротно з неможливістю подальшого
    відновлення змісту персональних даних в інформаційній системі персональних
    даних та (або) знищуються матеріальні носії персональних даних.
  </p>

  <p>3. Основні права та обов&#39;язки Оператора</p>

  <p>3.1. Оператор має право:</p>

  <p>
    &ndash; отримувати від суб&#39;єкта персональних даних достовірну інформацію
    та/або документи, що містять персональні дані;
  </p>

  <p>
    &ndash; у разі відкликання суб&#39;єктом персональних даних згоди на обробку
    персональних даних Оператор має право продовжити обробку персональних даних
    без згоди суб&#39;єкта персональних даних за наявності підстав, зазначених у
    Законі про захист персональних даних;
  </p>

  <p>
    &ndash; самостійно визначати склад та перелік заходів, необхідних та
    достатніх для забезпечення виконання обов&#39;язків, передбачених Законом
    про захист персональних даних та прийнятими відповідно до нього нормативними
    правовими актами, якщо інше не передбачено Законом про захист персональних
    даних або іншими законами.
  </p>

  <p>3.2. Оператор зобов&#39;язаний:</p>

  <p>
    &ndash; надавати суб&#39;єкту персональних даних на його прохання
    інформацію, що стосується обробки його персональних даних;
  </p>

  <p>
    &ndash; організовувати обробку персональних даних у порядку, встановленому
    чинним законодавством України.
  </p>

  <p>
    &ndash; відповідати на звернення та запити суб&#39;єктів персональних даних
    та їх законних представників відповідно до вимог Закону про захист
    персональних даних;
  </p>

  <p>
    &ndash; повідомляти до уповноваженого органу захисту прав суб&#39;єктів
    персональних даних на запит цього органу необхідну інформацію протягом 30
    днів з дати отримання такого запиту;
  </p>

  <p>
    &ndash; публікувати чи іншим чином забезпечувати необмежений доступ до цієї
    Політики щодо обробки персональних даних;
  </p>

  <p>
    &ndash; вживати правових, організаційних та технічних заходів для захисту
    персональних даних від неправомірного або випадкового доступу до них,
    знищення, зміни, блокування, копіювання, надання, розповсюдження
    персональних даних, а також від інших неправомірних дій щодо персональних
    даних;
  </p>

  <p>
    &ndash; припинити передачу (розповсюдження, надання, доступ) персональних
    даних, припинити обробку та знищити персональні дані у порядку та випадках,
    передбачених Законом про захист персональних даних;
  </p>

  <p>
    - Виконувати інші обов&#39;язки, передбачені Законом про захист персональних
    даних.
  </p>

  <p>4. Основні права та обов&#39;язки суб&#39;єктів персональних даних</p>

  <p>4.1. Суб&#39;єкти персональних даних мають право:</p>

  <p>
    &ndash; отримувати інформацію щодо обробки його персональних даних, за
    винятком випадків, передбачених законами. Відомості надаються суб&#39;єкту
    персональних даних Оператором у доступній формі, і в них не повинні
    утримуватись персональні дані, що належать до інших суб&#39;єктів
    персональних даних, за винятком випадків, коли є законні підстави для
    розкриття таких персональних даних. Перелік інформації та порядок її
    отримання встановлено Законом про захист персональних даних;
  </p>

  <p>
    &ndash; вимагати від оператора уточнення його персональних даних, їх
    блокування або знищення у разі, якщо персональні дані є неповними,
    застарілими, неточними, незаконно отриманими або не є необхідними для
    заявленої мети обробки, а також вживати передбачених законом заходів щодо
    захисту своїх прав;
  </p>

  <p>
    - висувати умову попередньої згоди при обробці персональних даних з метою
    просування на ринку товарів, робіт та послуг;
  </p>

  <p>- На відкликання згоди на обробку персональних даних;</p>

  <p>
    &ndash; оскаржити до уповноваженого органу захисту прав суб&#39;єктів
    персональних даних або в судовому порядку неправомірні дії або бездіяльність
    Оператора при обробці його персональних даних;
  </p>

  <p>&ndash; на провадження інших прав, передбачених законодавством України.</p>

  <p>4.2. Суб&#39;єкти персональних даних зобов&#39;язані:</p>

  <p>- надавати Оператору достовірні дані про себе;</p>

  <p>
    &ndash; повідомляти Оператора про уточнення (оновлення, зміну) своїх
    персональних даних.
  </p>

  <p>
    4.3. Особи, які передали Оператору недостовірні відомості про себе, або
    відомості про іншого суб&#39;єкта персональних даних без згоди останньої,
    відповідають відповідно до законодавства України.
  </p>

  <p>5. Оператор може обробляти такі персональні дані Користувача</p>

  <p>5.1. Електронна адреса.</p>

  <p>5.2. Номери телефонів.</p>

  <p>5.3. Ім&#39;я</p>

  <p>5.4. Нік (ім&#39;я) у Instagram.</p>

  <p>
    5.4. Також на сайті відбувається збір та обробка знеособлених даних про
    відвідувачів (в т.ч. файлів cookie) за допомогою сервісів
    інтернет-статистики (Гугл Аналітика та інших).
  </p>

  <p>
    5.5. Дані за текстом Політики об&#39;єднані загальним поняттям Персональні
    дані.
  </p>

  <p>
    5.6. Обробка спеціальних категорій персональних даних, що стосуються
    расової, національної приналежності, політичних поглядів, релігійних чи
    філософських переконань, інтимного життя Оператором не здійснюється.
  </p>

  <p>
    5.7. Обробка персональних даних, дозволених для розповсюдження, з-поміж
    спеціальних категорій персональних даних, зазначених у Законі про
    персональні дані, допускається, якщо дотримуються заборон та умов,
    передбачених іншими пунктами Закону про захист персональних даних.
  </p>

  <p>
    5.8. Згода Користувача на обробку персональних даних, дозволених для
    розповсюдження, оформляється окремо від інших згод на обробку персональних
    даних. При цьому дотримуються умов, передбачених, зокрема, Законом про
    захист персональних даних. Вимоги щодо змісту такої згоди встановлюються
    уповноваженим органом захисту прав суб&#39;єктів персональних даних.
  </p>

  <p>
    5.8.1 Згода на обробку персональних даних, дозволених для розповсюдження,
    Користувач надає Оператору безпосередньо.
  </p>

  <p>
    5.8.2 Оператор зобов&#39;язаний у строк не пізніше трьох робочих днів з
    моменту отримання зазначеної згоди Користувача опублікувати інформацію про
    умови обробки, наявність заборон та умов на обробку необмеженим колом осіб
    персональних даних, дозволених для розповсюдження.
  </p>

  <p>
    5.8.3 Передача (розповсюдження, надання, доступ) персональних даних,
    дозволених суб&#39;єктом персональних даних для розповсюдження, має бути
    припинена у будь-який час на вимогу суб&#39;єкта персональних даних. Ця
    вимога повинна включати ім&#39;я, контактну інформацію (номер телефону,
    адресу електронної пошти) суб&#39;єкта персональних даних, а також перелік
    персональних даних, обробка яких підлягає припиненню. Вказані у цій вимогі
    персональні дані можуть оброблятися тільки Оператором, якому вона надіслана.
  </p>

  <p>
    5.8.4 Згода на обробку персональних даних, дозволених для розповсюдження,
    припиняє свою дію з моменту надходження до Оператора вимоги, зазначеної в п.
    5.8.3 цієї Політики щодо обробки персональних даних.
  </p>

  <p>6. Принципи обробки персональних даних</p>

  <p>
    6.1. Обробка персональних даних здійснюється на законній та справедливій
    основі.
  </p>

  <p>
    6.2. Обробка персональних даних обмежується досягненням конкретних, наперед
    визначених та законних цілей. Не допускається обробка персональних даних,
    несумісна з метою збору персональних даних.
  </p>

  <p>
    6.3. Не допускається об&#39;єднання баз даних, що містять персональні дані,
    обробка яких здійснюється в цілях, несумісних між собою.
  </p>

  <p>
    6.4. Обробці підлягають лише персональні дані, що відповідають цілям їхньої
    обробки.
  </p>

  <p>
    6.5. Зміст та обсяг оброблюваних персональних даних відповідають заявленим
    цілям обробки. Не допускається надмірність оброблюваних персональних даних
    стосовно заявлених цілей їх обробки.
  </p>

  <p>
    6.6. При обробці персональних даних забезпечується точність персональних
    даних, їх достатність, а необхідних випадках і актуальність стосовно цілей
    обробки персональних даних. Оператор вживає необхідних заходів та/або
    забезпечує їх прийняття щодо видалення або уточнення неповних або неточних
    даних.
  </p>

  <p>
    6.7. Зберігання персональних даних здійснюється у формі, що дозволяє
    визначити суб&#39;єкта персональних даних, не довше, ніж цього вимагають
    мети обробки персональних даних, якщо термін зберігання персональних даних
    не встановлений законом, договором, стороною якого, вигодонабувачем або
    поручителем за яким є суб&#39;єкт персональних даних. Оброблювані
    персональні дані знищуються або знеособлюються після досягнення цілей
    обробки або у разі втрати необхідності досягнення цих цілей, якщо інше не
    передбачено законом.
  </p>

  <p>7. Цілі обробки персональних даних</p>

  <p>7.1. Ціль обробки персональних даних Користувача:</p>

  <p>
    &ndash; інформування Користувача за допомогою надсилання електронних листів;
  </p>

  <p>
    &ndash; надання доступу Користувачеві до сервісів, інформації та/або
    матеріалів, що містяться на веб-сайті
    <a
      data-auto-recognition="true"
      href="https://alenashpilka.com"
      target="_blank"
      >https://alenashpilka.com</a
    >.
  </p>

  <p>
    7.2. Також Оператор має право надсилати Користувачеві повідомлення про нові
    продукти та послуги, спеціальні пропозиції та різні події. Користувач завжди
    може відмовитися від отримання інформаційних повідомлень, надіславши
    Оператору лист на адресу електронної пошти
    <a data-auto-recognition="true" href="mailto:info@alenashpilka.com"
      >info@alenashpilka.com</a
    >
    з позначкою &laquo;Відмова від повідомлень про нові продукти та послуги та
    спеціальні пропозиції&raquo;.
  </p>

  <p>
    7.3. Знеособлені дані Користувачів, які збираються за допомогою сервісів
    інтернет-статистики, служать для збору інформації про дії Користувачів на
    сайті, покращення якості сайту та його змісту.
  </p>

  <p>8. Правові основи обробки персональних даних</p>

  <p>8.1. Правовими підставами обробки персональних даних Оператором є:</p>

  <p>
    &ndash; З А К О Н У К Р А І Н И Про захист персональних даних від 1 червня
    2010р. № 2297-VI Зі змінами та доповненнями, внесеними Законами України від
    23 лютого 2012 року № 4452-VI, від 20 листопада 2012 року № 5491-VI;
  </p>

  <p>
    - Закони, інші нормативно-правові акти у сфері захисту персональних даних;
  </p>

  <p>
    &ndash; згоди Користувачів на обробку їх персональних даних, на обробку
    персональних даних, дозволених для розповсюдження.
  </p>

  <p>
    8.2. Оператор обробляє персональні дані Користувача лише у разі їх
    заповнення та/або відправлення Користувачем самостійно через спеціальні
    форми, розташовані на сайті
    <a
      data-auto-recognition="true"
      href="https://alenashpilka.com"
      target="_blank"
      >https://alenashpilka.com</a
    >
    або надіслані Оператору за допомогою електронної пошти. Заповнюючи
    відповідні форми та/або надсилаючи свої персональні дані Оператору,
    Користувач висловлює свою згоду з цією Політикою.
  </p>

  <p>
    8.3. Оператор обробляє знеособлені дані про Користувача у випадку, якщо це
    дозволено у налаштуваннях браузера Користувача (включено збереження файлів
    cookie та використання технології JavaScript).
  </p>

  <p>
    8.4. Суб&#39;єкт персональних даних самостійно приймає рішення про надання
    його персональних даних та дає згоду вільно, своєю волею та у своєму
    інтересі.
  </p>

  <p>9. Умови обробки персональних даних</p>

  <p>
    9.1. Обробка персональних даних здійснюється за згодою суб&#39;єкта
    персональних даних на обробку його персональних даних.
  </p>

  <p>
    9.2. Обробка персональних даних необхідна для досягнення цілей, передбачених
    міжнародним договором України або законом, для здійснення покладених
    законодавством України на оператора функцій, повноважень та обов&#39;язків.
  </p>

  <p>
    9.3. Обробка персональних даних необхідна для здійснення правосуддя,
    виконання судового акта, акта іншого органу чи посадової особи, які
    підлягають виконанню відповідно до законодавства України про виконавче
    провадження.
  </p>

  <p>
    9.4. Обробка персональних даних необхідна для виконання договору, стороною
    якого або вигодонабувачем або поручителем за яким є суб&#39;єкт персональних
    даних, а також для укладання договору з ініціативи суб&#39;єкта персональних
    даних або договору, за яким суб&#39;єкт персональних даних буде
    вигодонабувачем або поручителем.
  </p>

  <p>
    9.5. Обробка персональних даних необхідна реалізації правий і законних
    інтересів оператора чи третіх осіб або задля досягнення суспільно значимих
    цілей за умови, що у своїй не порушуються правничий та свободи суб&#39;єкта
    персональних даних.
  </p>

  <p>
    9.6. Здійснюється обробка персональних даних, доступ необмеженого кола осіб
    до яких надано суб&#39;єктом персональних даних або на його прохання (далі
    &ndash; загальнодоступні персональні дані).
  </p>

  <p>
    9.7. Здійснюється обробка персональних даних, що підлягають опублікуванню
    або обов&#39;язковому розкриттю відповідно до закону.
  </p>

  <p>
    10. Порядок збирання, зберігання, передачі та інших видів обробки
    персональних даних
  </p>

  <p>
    Безпека персональних даних, що обробляються Оператором, забезпечується
    шляхом реалізації правових, організаційних та технічних заходів, необхідних
    для виконання у повному обсязі вимог чинного законодавства у сфері захисту
    персональних даних.
  </p>

  <p>
    10.1. Оператор забезпечує збереження персональних даних та вживає всіх
    можливих заходів, що виключають доступ до персональних даних неуповноважених
    осіб.
  </p>

  <p>
    10.2. Персональні дані Користувача ніколи, за жодних умов не будуть передані
    третім особам, за винятком випадків, пов&#39;язаних з виконанням чинного
    законодавства або у разі, якщо суб&#39;єктом персональних даних надано згоду
    Оператору на передачу даних третій особі для виконання зобов&#39;язань за
    цивільно-правовим договором.
  </p>

  <p>
    10.3. У разі виявлення неточностей у персональних даних, Користувач може
    актуалізувати їх самостійно шляхом надсилання Оператору повідомлення на
    адресу електронної пошти Оператора
    <a data-auto-recognition="true" href="mailto:info@alenashpilka.com"
      >info@alenashpilka.com</a
    >
    з позначкою &laquo;Актуалізація персональних даних&raquo;.
  </p>

  <p>
    10.4. Термін обробки персональних даних визначається досягненням цілей, для
    яких було зібрано персональні дані, якщо інший термін не передбачений
    договором або чинним законодавством.
  </p>

  <p>
    Користувач може будь-якої миті відкликати свою згоду на обробку персональних
    даних, надіславши Оператору повідомлення за допомогою електронної пошти на
    електронну адресу Оператора
    <a data-auto-recognition="true" href="mailto:info@alenashpilka.com"
      >info@alenashpilka.com</a
    >
    з позначкою &laquo;Відгук згоди на обробку персональних даних&raquo;.
  </p>

  <p>
    10.5. Вся інформація, що збирається сторонніми сервісами, у тому числі
    платіжними системами, засобами зв&#39;язку та іншими постачальниками послуг,
    зберігається та обробляється вказаними особами (Операторами) відповідно до
    їх Угоди користувача та Політики конфіденційності. Суб&#39;єкт персональних
    даних та/або Користувач зобов&#39;язаний самостійно ознайомитися з
    зазначеними документами. Оператор не несе відповідальності за дії третіх
    осіб, у тому числі зазначених у цьому пункті постачальників послуг.
  </p>

  <p>
    10.6. Встановлені суб&#39;єктом персональних даних заборони на передачу
    (крім надання доступу), а також на обробку або умови обробки (крім отримання
    доступу) персональних даних, дозволених для розповсюдження, не діють у
    випадках обробки персональних даних у державних, громадських та інших
    публічних інтересах, визначених законодавством України.
  </p>

  <p>
    10.7. Оператор під час обробки персональних даних забезпечує
    конфіденційність персональних даних.
  </p>

  <p>
    10.8. Оператор здійснює зберігання персональних даних у формі, що дозволяє
    визначити суб&#39;єкта персональних даних не довше, ніж цього вимагають мети
    обробки персональних даних, якщо термін зберігання персональних даних не
    встановлений законом, договором, стороною якого, вигодонабувачем або
    поручителем за яким є суб&#39;єкт персональних даних.
  </p>

  <p>
    10.9. Умовою припинення обробки персональних даних може бути досягнення
    цілей обробки персональних даних, закінчення терміну дії згоди суб&#39;єкта
    персональних даних або відкликання згоди суб&#39;єктом персональних даних, а
    також виявлення неправомірної обробки персональних даних.
  </p>

  <p>
    11. Перелік дій, що провадиться Оператором з отриманими персональними даними
  </p>

  <p>
    11.1. Оператор здійснює збір, запис, систематизацію, накопичення,
    зберігання, уточнення (оновлення, зміну), вилучення, використання, передачу
    (поширення, надання, доступ), знеособлення, блокування, видалення та
    знищення персональних даних.
  </p>

  <p>
    11.2. Оператор здійснює автоматизовану обробку персональних даних з
    отриманням та/або передачею отриманої інформації по
    інформаційно-телекомунікаційним мереж або без такої.
  </p>

  <p>12. Транскордонна передача персональних даних</p>

  <p>
    12.1. Оператор на початок здійснення транскордонної передачі персональних
    даних зобов&#39;язаний переконатися у цьому, що іноземним державою,
    територію якого передбачається здійснювати передачу персональних даних,
    забезпечується надійний захист прав суб&#39;єктів персональних даних.
  </p>

  <p>
    12.2. Транскордонна передача персональних даних на території іноземних
    держав, що не відповідають вищезазначеним вимогам, може здійснюватися лише у
    разі наявності згоди у письмовій формі суб&#39;єкта персональних даних на
    транскордонну передачу його персональних даних та/або виконання договору,
    стороною якого є суб&#39;єкт персональних даних.
  </p>

  <p>13. Конфіденційність персональних даних</p>

  <p>
    Оператор та інші особи, які отримали доступ до персональних даних,
    зобов&#39;язані не розкривати третім особам та не поширювати персональні
    дані без згоди суб&#39;єкта персональних даних, якщо інше не передбачено
    законом.
  </p>

  <p>14. Заключні положення</p>

  <p>
    14.1. Користувач може отримати будь-які роз&#39;яснення щодо питань, що
    стосуються обробки його персональних даних, звернувшись до Оператора за
    допомогою електронної пошти
    <a data-auto-recognition="true" href="mailto:info@alenashpilka.com"
      >info@alenashpilka.com</a
    >.
  </p>

  <p>
    14.2. У цьому документі буде відображено будь-які зміни політики обробки
    персональних даних Оператором. Політика діє безстроково до заміни її новою
    версією.
  </p>

  <p>
    14.3. Актуальна версія Політики у вільному доступі розташована в мережі
    Інтернет за адресою
    <a
      data-auto-recognition="true"
      href="http://alenashpilka.com/confidential-policy."
      target="_blank"
      >http://alenashpilka.com/confidential-policy.</a
    >
  </p>
  <p>&nbsp;</p>
  <p>Шпілька Альона Антонівна</p>
  <p>+38(063)219-18-92</p>
  <a data-auto-recognition="true" href="mailto:info@alenashpilka.com"
    >info@alenashpilka.com
  </a>
</div>
