<div class="container">
  <h4>УМОВИ З ОПЛАТИ КУРСУ</h4>
  <br />
  <p>1) СПОСОБИ ОПЛАТИ</p>
  <p>безготівковий розрахунок платіжними картками Visa та Mastercard.</p>
  <p>
    Якщо у Вас не гривнева картка, то з картки буде списано еквівалент за
    валютним курсом вашого банку.
  </p>

  <p>2) ПОВЕРНЕННЯ КОШТІВ</p>
  <p>Умови повернення:</p>
  <p>
    у разі відсутності можливості надати доступ до курсу (форсмажор).
    Здійснюється у повному обсязі, за вирахуванням банківської комісії за
    перерахування коштів (1%) та комісії за отримання коштів на картку (1.1%) в
    валюті вашої картки та по курсу вашого банку на день зарахування суми.
  </p>

  <p>3) СПОСІБ ПОВЕРНЕННЯ КОШТІВ</p>
  <p>
    Повернення здійснюється безготівковим способом на картку Зарахування та
    зняття коштів відповідно до тарифів Вашої картки. Зарахування коштів на
    картку здійснюється протягом 3-5 робочих днів.
  </p>
</div>
