<div class="container">
  <h4>УМОВИ, ПРАВИЛА І ТЕРМІНИ НАДАННЯ ПОСЛУГИ (навчальний курс з макіяжу)</h4>
  <br />
  <p>1) Навчальний курс з макіяжу проводиться у закритій групі (онлайн) в</p>
  <p>Інстаграм.</p>
  <p>2) Відеоуроки у записі.</p>
  <p>Доступ до курсу надається:</p>
  <p>
    після заповнення форми даних (контакти, які необхідні для ідентифікації та
    верифікації замовника) та після оплати, акаунту (ім&#39;я в Instagram),
    вказаному замовником у формі реєстрації.
  </p>
  <p>Терміни надання доступу до закритої групи - протягом 24 годин.</p>
  <br />
  <p>
    Дані про групу надаються у листі на електронну пошту, вказану замовником у
  </p>
  <p>формі реєстрації. Листи можуть потрапляти до папки Спам.</p>
</div>
